In [27]:
# Importing Some Python Modules
import warnings; warnings.simplefilter('ignore')
import scipy, itertools, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler

plt.style.use('bmh'); sns.set()

In [28]:
# Importing CSV data
bandung = pd.read_csv('C:/Users/NUR KHALIMAH/Desktop/assignment/datmin/bandung.csv')

In [29]:
print(bandung)

     No   Tgl_Iklan                                                URL  \
0     1  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
1     2  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
2     3  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
3     4  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
4     5  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
5     6  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
6     7  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
7     8  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
8     9  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
9    10  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
10   11  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
11   12  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
12   13  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
13   14  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
14   15  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
15   16  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
16   17  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
17   18  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
18   19  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
19   20  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
20   21  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
21   22  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
22   23  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
23   24  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
24   25  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
25   26  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
26   27  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
27   28  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
28   29  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
29   30  04-05-2021  https://www.rumah123.com/properti/bandung/hos8...
..  ...         ...                                                ...
70   71  04-07-2021                    https://rumahdijual.com/8636672
71   72  04-07-2021                   https://rumahdijual.com/10455160
72   73  04-07-2021                    https://rumahdijual.com/9558771
73   74  04-07-2021                   https://rumahdijual.com/10342938
74   75  04-07-2021                    https://rumahdijual.com/8647258
75   76  04-07-2021                   https://rumahdijual.com/10022813
76   77  04-07-2021                   https://rumahdijual.com/10022638
77   78  04-07-2021                   https://rumahdijual.com/10022617
78   79  04-07-2021                    https://rumahdijual.com/7965473
79   80  04-07-2021                    https://rumahdijual.com/9749092
80   81  04-08-2021                    https://rumahdijual.com/9688905
81   82  04-11-2021                    https://rumahdijual.com/8953701
82   83  04-08-2021                    https://rumahdijual.com/9549343
83   84  04-08-2021                    https://rumahdijual.com/9549329
84   85  04-08-2021                    https://rumahdijual.com/9549305
85   86  04-07-2021                   https://rumahdijual.com/10459193
86   87  04-11-2021                    https://rumahdijual.com/7188453
87   88  04-08-2021                   https://rumahdijual.com/10378477
88   89  04-07-2021                    https://rumahdijual.com/4393049
89   90  04-07-2021                    https://rumahdijual.com/4936422
90   91  04-07-2021                    https://rumahdijual.com/8804901
91   92  04-08-2021                    https://rumahdijual.com/8166196
92   93  04-05-2021                    https://rumahdijual.com/9840963
93   94  04-07-2021                   https://rumahdijual.com/10459189
94   95  04-07-2021                    https://rumahdijual.com/7196924
95   96  04-07-2021                    https://rumahdijual.com/8997133
96   97  04-08-2021                   https://rumahdijual.com/10461158
97   98  04-08-2021                   https://rumahdijual.com/10461087
98   99  04-08-2021                    https://rumahdijual.com/8378559
99  100  04-08-2021                   https://rumahdijual.com/10461196

         Harga     Kota   LT   LB  KT  KM  KTP  KMP  Carport  Garasi  Listrik  \
0   1095000000  Bandung   78   65   3   2    0    0        0       0     1300
1    379000000  Bandung   82   43   2   1    0    0        1       0     1300
2   1400000000  Bandung  115  126   3   2    0    0        0       0     1300
3    379000000  Bandung   80   45   2   1    0    0        1       0     1300
4   3900000000  Bandung  160  250   3   3    0    0        2       0     3300
5    955000000  Bandung  125   60   2   2    0    0        0       0     1300
6    845000000  Bandung  125   42   2   1    0    0        0       0     1300
7    379000000  Bandung   81   45   2   1    0    0        1       0     1300
8   1400000000  Bandung  115  125   3   2    0    0        0       0     1300
9    955000000  Bandung  124   61   3   2    0    0        0       0     1300
10   665000000  Bandung   95   55   2   2    0    0        0       0     1300
11  1850000000  Bandung   99  101   3   2    0    0        0       0     1300
12   955000000  Bandung  124   63   3   2    0    0        0       0     1300
13  4075000000  Bandung  277  350   7   5    0    0        4       1     1300
14  3100000000  Bandung  132  180   4   3    0    0        0       0     4400
15   379000000  Bandung   80   46   2   1    0    0        1       0     1300
16  1035000000  Bandung   65   65   3   2    0    0        0       0     1300
17   165000000  Bandung   60   40   2   1    0    0        0       0     1300
18   845000000  Bandung  126   40   2   1    0    0        0       0     1300
19   785000000  Bandung   78   55   2   1    0    0        0       0     1300
20  1034000000  Bandung   66   63   3   2    0    0        0       0     1300
21  4075000000  Bandung  279  350   7   5    0    0        4       0     1300
22  1850000000  Bandung  100  100   3   2    0    0        0       0     1300
23   130000000  Bandung   40   35   2   1    0    0        0       0      900
24   845000000  Bandung  124   40   2   1    0    0        1       0     1300
25  1400000000  Bandung  116  123   3   2    0    0        0       0     1300
26  1295000000  Bandung   66   64   3   2    0    0        0       0     1300
27   379000000  Bandung   81   42   2   1    0    0        1       0     1300
28   375000000  Bandung   72   40   2   1    0    0        0       0     1300
29  4075000000  Bandung  276  345   7   5    0    0        4       0     1300
..         ...      ...  ...  ...  ..  ..  ...  ...      ...     ...      ...
70  3250000000  Bandung  210  300   4   3    1    1        1       1     4400
71  1400000000  Bandung   84   40   2   1    0    0        0       0     2200
72   477000000  Bandung  100   48   2   1    0    0        1       0     1300
73   950000000  Bandung   95   70   3   2    0    0        2       0     2200
74  7000000000  Bandung  728  250   5   4    0    0        2       1     2200
75   385000000  Bandung   72   45   2   2    0    0        1       0     1300
76  8000000000  Bandung  227  325   6   4    0    0        2       0     4400
77  7500000000  Bandung  540  360   5   4    0    0        4       2     3300
78  3550000000  Bandung  277  440   5   5    1    0        3       1     2200
79  1990000000  Bandung  158  128   3   2    1    1        2       0     2200
80   350000000  Bandung   98   36   2   1    0    0        1       0     1300
81   140000000  Bandung   70   27   2   1    0    0        0       1      900
82   389000000  Bandung   69   36   2   1    0    0        0       0     1300
83   361000000  Bandung   60   30   2   1    0    0        0       0     1300
84   720000000  Bandung   83   80   3   2    0    0        1       0     1300
85   260000000  Bandung   66   42   2   1    0    0        1       0     1300
86   375000000  Bandung   72   38   2   1    0    0        1       0     1300
87   419000000  Bandung   60   46   3   2    0    0        0       1     1300
88  3500000000  Bandung  151  250   5   3    0    0        2       0     2200
89  1388000000  Bandung   98   84   3   3    0    0        0       0     2200
90   594000000  Bandung  112   45   2   1    0    0        1       0     1300
91   700000000  Bandung   95   67   3   2    0    0        0       1     1300
92  1400000000  Bandung  277  300   6   5    0    0        2       0     2200
93  1800000000  Bandung  117  150   4   4    0    0        3       0     2200
94  2250000000  Bandung  177  350   4   4    0    0        2       2    13300
95  2500000000  Bandung  197  150   4   3    0    0        4       0     2200
96   547123456  Bandung   65   36   2   1    0    0        1       0     1300
97   650040000  Bandung   55   40   3   2    0    0        0       0     1300
98   362000000  Bandung   60   30   3   1    0    0        0       1     1300
99   650060000  Bandung   55   40   3   2    0    0        0       0     1300

            Surat                                              Judul  \
0             SHM  10mnt Bandara Husein Pajajaran Rumah Tanpa Ban...
1             SHM  9mnt Exit Tol cileunyi Rumah Cocok Investasi d...
2             SHM  PROMO Rumah cluster diskon 7mnt KPAD gegerkalo...
3             SHM  rumah strategis dkt kawasan kampus jatinangor ...
4             SHM  Rumah Untuk Usaha 2Lt di Antapani Lokasi Strat...
5             SHM  Rumah Perumahan Tenang dan Nyaman 15 menit UPI...
6             SHM  Rumah cluster kuldesak islami di lembang 10mni...
7             SHM  Rumah 6mnt RSHarapanKeluarga Cipacing Jatinang...
8             SHM  PROMO Rumah 2 lantai elegan dkat UPI setiabudi...
9             SHM  Rumah cluster tenang islami di lembang 12mnit ...
10            SHM  PROMO Villa Cantik di Lembang 20mnt Setiabudi ...
11            SHM  PROMO 10mnt Unpad Dipati Ukur Rumah minimalis ...
12            SHM  rumah perumahan tenang dan nyaman di lembang 2...
13            SHM  SYARIAH Rumah Mewah Readystock Sejuk Tenang di...
14            SHM  EXCLUSIVE Rumah 3LT View Kota Bandung di Dago ...
15            SHM  Hunian aman &amp;nyaman strategis dkt cileunyi...
16            SHM  11mnt Samsat Pajajaran Rumah Konsep Syariah di...
17            SHM  rumah di bandung selatan bebas banjir full spe...
18            SHM  Rumah islami syariah di lembang 15mnt sersan b...
19            SHM  Rumah Minimalis Murah di Cisaranten Kulon Arca...
20            SHM  5 KM Paskal Hyper Square Pasir Kaliki Andir Ru...
21            SHM  DEKAT MASJID Rumah Mewah Ready Stock Sejuk Ten...
22            SHM  Promo 8 menit UNIKOM Dipati Ukur Rumah Akses M...
23            SHM  Rumah Minimalis Murah Full Spek Modern Lokasi ...
24            SHM  Rumah Sejuk Segar Customdesign di Lembang hany...
25            SHM  PROMO Rumah Strategis 1.7KM Polsek Sukasari Ge...
26            SHM  13 mnt RSHS Rumah Strategis cluster Kuldesak d...
27            SHM  Rumah cluster akses mudah di mangunarga cimang...
28            SHM  DP 25 Juta All In. Rumah dekat tol padalarang....
29            SHM  SHM IMB Rumah Mewah Readystock Sejuk Tenang di...
..            ...                                                ...
70            SHM  208. RUMAH LUX 2 LANTAI DI MEGARAYA, PASTEUR B...
71            SHM  Rumah Impian di Podomoro Park Bandung Super Ny...
72            SHM    Rumah Cluster Cilamr Dekat Pemkab Bandung Barat
73            SHM  Rumah 2 Lt Cluster Baru Dpn Margawangi Estate ...
74            SHM  Rumah terawat siap huni di Cisitu Indah, Dago ...
75            SHM  RUMAH 2 LANTAI CUMA 300 JUTAAN! DEKAT TOL BUAH...
76            SHM    RUMAH SECOND SEKEN DI PASTEUR SUKAMULYA BANDUNG
77            SHM  JUAL RUMAH MEWAH + KOLAM RENANG DI DAGO RESORT...
78            SHM  Dijual Rumah Minimalis Siap Huni di Suryalaya,...
79            SHM     RUMAH BARU MINIMALIS DI KEMBAR - BANDUNG PUSAT
80            SHM  RUMAH DIJUAL: RUMAH DIKOMPLEK POLISI ARYA GRAH...
81            SHM  Miliki Rumah Tanpa Dp & Cicilan 800 Ribuan di ...
82            SHM  Rumah Cluster Cileunyi - 5 MENIT ke UNPAD Jati...
83            SHM  Rumah Cluster Cileunyi - 5 MENIT ke Pintu Tol ...
84            SHM  RUMAH DIJUAL: 10 MENIT KE TOL PADALARANG: RUMA...
85            SHM  Rumah Murah Spek Mewah Strategis Legalitas Ama...
86  SHM, IMB, PBB  Rumah Murah, Bandung dekat Cimahi, Mekarsari E...
87            SHM  Rumah Dua Lantai Modern Style Cluster Bukit In...
88            SHM            Rumah Cantik Nyaman di Resor Dago Pakar
89            SHM  Type Baru di CLUSTER ALINDA @ PRAMESTHA RESORT...
90            SHM  Rumah Minimalis di Ujungberung Giri Mekar Cija...
91            SHM  rumah 2 lantai dijual di bandung timur paling ...
92            SHM  Dijual Murah Rumah Kolam Renang Di Cibiru Atas...
93            SHM           Dijual Rumah Di Komplek Cigadung bandung
94            SHM     Dijual Murah Rumah Ruko di Cicadas Bandung !!!
95            SHM  Rumah Siap Huni Di Nanjung Cimahi Dalam komple...
96            SHM      Rumah Murah Modern Dan Unik di Cijerah Gempol
97            SHM  Rumah dilokasi Strategis di Cibabat Cimahi | CIC5
98            SHM  * PROMO NEW NORMAL *Rumah Syariah Strategis Mu...
99       SHM ,IMB  Rumah 2 lantai dengan harga minimalis di Cimah...

                                            Deskripsi Unnamed: 17
0   "Membeli rumah bukan hanya sekedar tempat ting...         NaN
1   Apakah Anda menginginkan hunian dalam cluster ...         NaN
2   Rumah Sejuk idaman di dekat Setiabudi Sarijadi...         NaN
3   Apakah Anda menginginkan hunian dalam cluster ...         NaN
4   Rumah Untuk Usaha Terawat Siap Huni\n Antapani...         NaN
5   Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
6   Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
7   Apakah Anda menginginkan hunian dalam cluster ...         NaN
8   Rumah Sejuk idaman di dekat Setiabudi Sarijadi...         NaN
9   Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
10  Rumah Villa idaman Sejuk di Lembang dekat Patr...         NaN
11  Grande Takayama\n \n Hunian Gaya Jepang Berkel...         NaN
12  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
13  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
14  EXCLUSIVE Rumah 3 Lantai dengan View Menawan d...         NaN
15  Apakah Anda menginginkan hunian dalam cluster ...         NaN
16  Membeli rumah bukan hanya sekedar tempat tingg...         NaN
17  PESONA BUMI PANIISAN\n TAHAP 5\n Dapatkan prom...         NaN
18  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
19  Rumah Minimalis Murah di Cisaranten Kulon Arca...         NaN
20  Memiliki hunian yang strategis akses dekat kem...         NaN
21  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
22  Hunian Gaya Jepang Berkelas Di Kawasan Elite D...         NaN
23  Perumahan Bumi Agnes Nanjung, Rumah modern sia...         NaN
24  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
25  Rumah Sejuk Idaman di dekat Setiabudi Sarijadi...         NaN
26  Membeli rumah bukan hanya sekedar tempat tingg...         NaN
27  Apakah anda menginginkan hunian dalam cluster ...         NaN
28  Cluster Minimalis dengan konsep kontemporer tr...         NaN
29  Rumah Rasa Villa idaman di Lembang dekat Geger...         NaN
..                                                ...         ...
70  Dijual Rumah LUX di Megaraya, Pasteur Bandung\...         NaN
71  Rumah Impian di Podomoro Park Bandung Material...         NaN
72  Sebuah hunian yang memiliki konsep tertatanya ...         NaN
73                               Dijual l / investasi         NaN
74  Dijual Rumah Terawat Siap Huni di Cisitu Indah...         NaN
75  Keunggulan lokasi:\n 1. Di belakang Kawasan Ag...         NaN
76  Rumah Tinggal dekat Exit Tol Pasteur, :Jln. Te...         NaN
77  Hunian yang nyaman dan berada di kawasan terba...         NaN
78  Dijual Rumah Minimalis Siap Huni di Suryalaya,...         NaN
79  Dijual Rumah Baru 1 Lantai di Kembar, Bandung ...         NaN
80  Rumah Dijual di Katapang Bandung\n IDR 350.000...         NaN
81  Rumah Subsidi Tanpa DP di Cicalengka Bandung T...         NaN
82  JUAL RUMAH BARU DI CILEUNYI WA 0811 2051 097\n...         NaN
83  JUAL RUMAH BARU DI CILEUNYI WA 0811 2051 097\n...         NaN
84  JUAL RUMAH DI CILAME BANDUNG BARAT, WA 0811 20...         NaN
85  Rumah paku haji harga 260 juta, indent 3 sampa...         NaN
86  Dijual Rumah Murah Baru Minimalis 300jtan Band...         NaN
87  Dijual Rumah 2 Lantai mewah modern, dengan lin...         NaN
88  Rumah cantik nyaman dengan view lembah dan peg...         NaN
89  New Type CLUSTER ALINDA @ PRAMESTHA RESORT TOW...         NaN
90  Rumah Minimalis Harga Menarik di Giri Mekar Ci...         NaN
91  ayo dapatkan segera perumahan mewah dengan har...         NaN
92  Dijual Murah Rumah Cantik Lux Minimalis Dengan...         NaN
93  Rumah di komplek kawasan Dago Cigadung Bandung...         NaN
94  DIJUAL MURAH RUMAH / RUKO TEMPAT USAHA DI CICA...         NaN
95  Rumah siap huni aman nyaman di Nanjung Cimahi\...         NaN
96  Rumah Murah Modern Dan Unik di Cijerah Gempol\...         NaN
97  Kode Iklan CIC5\n \n Rumah Dijual di Cimahi Ba...         NaN
98  Bismillahirrahmanirrahim...\n  \n  * PROMO MAR...         NaN
99  Kode Iklan CIC7\n\nRumah Dijual di Cimahi Band...         NaN

[100 rows x 18 columns]

In [30]:
# Tipe Datanya : DataFrame (df)
print(type(bandung))
# Ukuran Data
N, P = bandung.shape
'baris = ', N, ', Kolom = ', P

<class 'pandas.core.frame.DataFrame'>

('baris = ', 100, ', Kolom = ', 18)

In [31]:
# "Mengintip" beberapa data pertamanya
bandung.head(7)

,No,Tgl_Iklan,URL,Harga,Kota,LT,LB,KT,KM,KTP,KMP,Carport,Garasi,Listrik,Surat,Judul,Deskripsi,Unnamed: 17
0,1,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,1095000000,Bandung,78,65,3,2,0,0,0,0,1300,SHM,10mnt Bandara Husein Pajajaran Rumah Tanpa Ban...,"""Membeli rumah bukan hanya sekedar tempat ting...",NaN
1,2,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,379000000,Bandung,82,43,2,1,0,0,1,0,1300,SHM,9mnt Exit Tol cileunyi Rumah Cocok Investasi d...,Apakah Anda menginginkan hunian dalam cluster ...,NaN
2,3,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,1400000000,Bandung,115,126,3,2,0,0,0,0,1300,SHM,PROMO Rumah cluster diskon 7mnt KPAD gegerkalo...,Rumah Sejuk idaman di dekat Setiabudi Sarijadi...,NaN
3,4,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,379000000,Bandung,80,45,2,1,0,0,1,0,1300,SHM,rumah strategis dkt kawasan kampus jatinangor ...,Apakah Anda menginginkan hunian dalam cluster ...,NaN
4,5,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,3900000000,Bandung,160,250,3,3,0,0,2,0,3300,SHM,Rumah Untuk Usaha 2Lt di Antapani Lokasi Strat...,Rumah Untuk Usaha Terawat Siap Huni\n Antapani...,NaN
5,6,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,955000000,Bandung,125,60,2,2,0,0,0,0,1300,SHM,Rumah Perumahan Tenang dan Nyaman 15 menit UPI...,Rumah Rasa Villa idaman di Lembang dekat Geger...,NaN
6,7,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,845000000,Bandung,125,42,2,1,0,0,0,0,1300,SHM,Rumah cluster kuldesak islami di lembang 10mni...,Rumah Rasa Villa idaman di Lembang dekat Geger...,NaN

In [32]:
# "Mengintip" beberapa data akhirnya
bandung.tail(9)

,No,Tgl_Iklan,URL,Harga,Kota,LT,LB,KT,KM,KTP,KMP,Carport,Garasi,Listrik,Surat,Judul,Deskripsi,Unnamed: 17
91,92,04-08-2021,https://rumahdijual.com/8166196,700000000,Bandung,95,67,3,2,0,0,0,1,1300,SHM,rumah 2 lantai dijual di bandung timur paling ...,ayo dapatkan segera perumahan mewah dengan har...,NaN
92,93,04-05-2021,https://rumahdijual.com/9840963,1400000000,Bandung,277,300,6,5,0,0,2,0,2200,SHM,Dijual Murah Rumah Kolam Renang Di Cibiru Atas...,Dijual Murah Rumah Cantik Lux Minimalis Dengan...,NaN
93,94,04-07-2021,https://rumahdijual.com/10459189,1800000000,Bandung,117,150,4,4,0,0,3,0,2200,SHM,Dijual Rumah Di Komplek Cigadung bandung,Rumah di komplek kawasan Dago Cigadung Bandung...,NaN
94,95,04-07-2021,https://rumahdijual.com/7196924,2250000000,Bandung,177,350,4,4,0,0,2,2,13300,SHM,Dijual Murah Rumah Ruko di Cicadas Bandung !!!,DIJUAL MURAH RUMAH / RUKO TEMPAT USAHA DI CICA...,NaN
95,96,04-07-2021,https://rumahdijual.com/8997133,2500000000,Bandung,197,150,4,3,0,0,4,0,2200,SHM,Rumah Siap Huni Di Nanjung Cimahi Dalam komple...,Rumah siap huni aman nyaman di Nanjung Cimahi\...,NaN
96,97,04-08-2021,https://rumahdijual.com/10461158,547123456,Bandung,65,36,2,1,0,0,1,0,1300,SHM,Rumah Murah Modern Dan Unik di Cijerah Gempol,Rumah Murah Modern Dan Unik di Cijerah Gempol\...,NaN
97,98,04-08-2021,https://rumahdijual.com/10461087,650040000,Bandung,55,40,3,2,0,0,0,0,1300,SHM,Rumah dilokasi Strategis di Cibabat Cimahi | CIC5,Kode Iklan CIC5\n \n Rumah Dijual di Cimahi Ba...,NaN
98,99,04-08-2021,https://rumahdijual.com/8378559,362000000,Bandung,60,30,3,1,0,0,0,1,1300,SHM,* PROMO NEW NORMAL *Rumah Syariah Strategis Mu...,Bismillahirrahmanirrahim...\n \n * PROMO MAR...,NaN
99,100,04-08-2021,https://rumahdijual.com/10461196,650060000,Bandung,55,40,3,2,0,0,0,0,1300,"SHM ,IMB",Rumah 2 lantai dengan harga minimalis di Cimah...,Kode Iklan CIC7\n\nRumah Dijual di Cimahi Band...,NaN

In [33]:
# chosen at random
bandung.sample(10)

,No,Tgl_Iklan,URL,Harga,Kota,LT,LB,KT,KM,KTP,KMP,Carport,Garasi,Listrik,Surat,Judul,Deskripsi,Unnamed: 17
12,13,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,955000000,Bandung,124,63,3,2,0,0,0,0,1300,SHM,rumah perumahan tenang dan nyaman di lembang 2...,Rumah Rasa Villa idaman di Lembang dekat Geger...,NaN
94,95,04-07-2021,https://rumahdijual.com/7196924,2250000000,Bandung,177,350,4,4,0,0,2,2,13300,SHM,Dijual Murah Rumah Ruko di Cicadas Bandung !!!,DIJUAL MURAH RUMAH / RUKO TEMPAT USAHA DI CICA...,NaN
99,100,04-08-2021,https://rumahdijual.com/10461196,650060000,Bandung,55,40,3,2,0,0,0,0,1300,"SHM ,IMB",Rumah 2 lantai dengan harga minimalis di Cimah...,Kode Iklan CIC7\n\nRumah Dijual di Cimahi Band...,NaN
46,47,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,665000000,Bandung,93,52,2,2,0,0,0,0,1300,SHM,promo bahagia rumah di lembang dkt cisarua par...,Rumah Villa idaman Sejuk di Lembang dekat Patr...,
95,96,04-07-2021,https://rumahdijual.com/8997133,2500000000,Bandung,197,150,4,3,0,0,4,0,2200,SHM,Rumah Siap Huni Di Nanjung Cimahi Dalam komple...,Rumah siap huni aman nyaman di Nanjung Cimahi\...,NaN
71,72,04-07-2021,https://rumahdijual.com/10455160,1400000000,Bandung,84,40,2,1,0,0,0,0,2200,SHM,Rumah Impian di Podomoro Park Bandung Super Ny...,Rumah Impian di Podomoro Park Bandung Material...,NaN
20,21,04-05-2021,https://www.rumah123.com/properti/bandung/hos8...,1034000000,Bandung,66,63,3,2,0,0,0,0,1300,SHM,5 KM Paskal Hyper Square Pasir Kaliki Andir Ru...,Memiliki hunian yang strategis akses dekat kem...,NaN
79,80,04-07-2021,https://rumahdijual.com/9749092,1990000000,Bandung,158,128,3,2,1,1,2,0,2200,SHM,RUMAH BARU MINIMALIS DI KEMBAR - BANDUNG PUSAT,"Dijual Rumah Baru 1 Lantai di Kembar, Bandung ...",NaN
98,99,04-08-2021,https://rumahdijual.com/8378559,362000000,Bandung,60,30,3,1,0,0,0,1,1300,SHM,* PROMO NEW NORMAL *Rumah Syariah Strategis Mu...,Bismillahirrahmanirrahim...\n \n * PROMO MAR...,NaN
63,64,04-07-2021,https://rumahdijual.com/9182984,845000000,Bandung,92,80,3,1,0,0,2,2,1300,SHM,Jual Rumah Minimalis Modern Gempol Cijerah Clu...,Dijual Cepat Jarang Ada\n Khusus Pembeli Langs...,NaN

# Removing a variable(s)

In [34]:
# perhatikan perintahnya tidak menggunakan tanda "()" ==> Properties 
bandung.columns

Index(['No', 'Tgl_Iklan', 'URL', 'Harga', 'Kota', 'LT', 'LB', 'KT', 'KM',
       'KTP', 'KMP', 'Carport', 'Garasi', 'Listrik', 'Surat', 'Judul',
       'Deskripsi', 'Unnamed: 17'],
      dtype='object')

In [35]:
# Drop kolom yang tidak berguna (hanya index)
bandung.drop("No", axis=1, inplace=True)
bandung.drop("URL", axis=1, inplace=True)
bandung.drop("Tgl_Iklan", axis=1, inplace=True)
bandung.drop("Kota", axis=1, inplace=True)

# Mengoreksi Tipe variabel

In [36]:
# tipe data di setiap kolom
# Wajib di periksa apakah tipe datanya sudah tepat?
# Perhatikan df sebagaimana semua variable di Python diperlakukan seperti object
bandung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
Harga          100 non-null int64
LT             100 non-null int64
LB             100 non-null int64
KT             100 non-null int64
KM             100 non-null int64
KTP            100 non-null int64
KMP            100 non-null int64
Carport        100 non-null int64
Garasi         100 non-null int64
Listrik        100 non-null int64
Surat          100 non-null object
Judul          100 non-null object
Deskripsi      100 non-null object
Unnamed: 17    21 non-null object
dtypes: int64(10), object(4)
memory usage: 11.0+ KB

In [39]:
# Merubah tipe data "jika" tidak tepat, contoh:
bandung.dtypes

Harga           int64
LT              int64
LB              int64
KT              int64
KM              int64
KTP             int64
KMP             int64
Carport         int64
Garasi          int64
Listrik         int64
Surat          object
Judul          object
Deskripsi      object
Unnamed: 17    object
dtype: object

In [38]:
#mengecek apakah ada duplikat data?
print(bandung.shape)
bandung.duplicated().sum()

(100, 14)

0

In [40]:
# Memilih hanya variable dengan tipe tertentu
bandung_num = bandung.select_dtypes(include = ['int64'])
bandung_num.head()
# Perhatikan price_num adalah variable df baru! ... (hati-hati di data yang besar)

        Harga   LT   LB  KT  KM  KTP  KMP  Carport  Garasi  Listrik
0  1095000000   78   65   3   2    0    0        0       0     1300
1   379000000   82   43   2   1    0    0        1       0     1300
2  1400000000  115  126   3   2    0    0        0       0     1300
3   379000000   80   45   2   1    0    0        1       0     1300
4  3900000000  160  250   3   3    0    0        2       0     3300

# Dasar Pengolahan variabel Kategorik: Dummy Variable

In [47]:
df = pd.get_dummies(bandung['Harga'], prefix='LT')
df.head()

,LT_130000000,LT_140000000,LT_165000000,LT_260000000,LT_350000000,LT_353000000,LT_361000000,LT_362000000,LT_366000000,LT_367000000,...,LT_3100000000,LT_3250000000,LT_3300000000,LT_3500000000,LT_3550000000,LT_3900000000,LT_4075000000,LT_7000000000,LT_7500000000,LT_8000000000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [49]:
df2 = pd.concat([bandung, df], axis = 1)
df2.head().transpose()

,0,1,2,3,4
Harga,1095000000,379000000,1400000000,379000000,3900000000
LT,78,82,115,80,160
LB,65,43,126,45,250
KT,3,2,3,2,3
KM,2,1,2,1,3
KTP,0,0,0,0,0
KMP,0,0,0,0,0
Carport,0,1,0,1,2
Garasi,0,0,0,0,0
Listrik,1300,1300,1300,1300,3300
Surat,SHM,SHM,SHM,SHM,SHM
Judul,10mnt Bandara Husein Pajajaran Rumah Tanpa Ban...,9mnt Exit Tol cileunyi Rumah Cocok Investasi d...,PROMO Rumah cluster diskon 7mnt KPAD gegerkalo...,rumah strategis dkt kawasan kampus jatinangor ...,Rumah Untuk Usaha 2Lt di Antapani Lokasi Strat...
Deskripsi,"""Membeli rumah bukan hanya sekedar tempat ting...",Apakah Anda menginginkan hunian dalam cluster ...,Rumah Sejuk idaman di dekat Setiabudi Sarijadi...,Apakah Anda menginginkan hunian dalam cluster ...,Rumah Untuk Usaha Terawat Siap Huni\n Antapani...
Unnamed: 17,NaN,NaN,NaN,NaN,NaN
LT_130000000,0,0,0,0,0
LT_140000000,0,0,0,0,0
LT_165000000,0,0,0,0,0
LT_260000000,0,0,0,0,0
LT_350000000,0,0,0,0,0
LT_353000000,0,0,0,0,0
LT_361000000,0,0,0,0,0
LT_362000000,0,0,0,0,0
LT_366000000,0,0,0,0,0
LT_367000000,0,0,0,0,0
LT_375000000,0,0,0,0,0
LT_379000000,0,1,0,1,0
LT_385000000,0,0,0,0,0
LT_389000000,0,0,0,0,0
LT_419000000,0,0,0,0,0
LT_477000000,0,0,0,0,0
...,...,...,...,...,...
LT_1095000000,1,0,0,0,0
LT_1145000000,0,0,0,0,0
LT_1175000000,0,0,0,0,0
LT_1200000000,0,0,0,0,0
LT_1295000000,0,0,0,0,0
LT_1300000000,0,0,0,0,0
LT_1388000000,0,0,0,0,0
LT_1400000000,0,0,1,0,0
LT_1415000000,0,0,0,0,0
LT_1473000000,0,0,0,0,0
LT_1772020000,0,0,0,0,0
LT_1800000000,0,0,0,0,0
LT_1850000000,0,0,0,0,0
LT_1897275000,0,0,0,0,0
LT_1990000000,0,0,0,0,0
LT_2250000000,0,0,0,0,0
LT_2500000000,0,0,0,0,0
LT_2600000000,0,0,0,0,0
LT_2700000000,0,0,0,0,0
LT_2800000000,0,0,0,0,0
LT_3100000000,0,0,0,0,0
LT_3250000000,0,0,0,0,0
LT_3300000000,0,0,0,0,0
LT_3500000000,0,0,0,0,0
LT_3550000000,0,0,0,0,0
LT_3900000000,0,0,0,0,1
LT_4075000000,0,0,0,0,0
LT_7000000000,0,0,0,0,0
LT_7500000000,0,0,0,0,0
LT_8000000000,0,0,0,0,0